/* General styles */
body {
  font-family: "Lato", sans-serif;
}

.navbar-container {
  display: flex;
  width: 100%;
}

.navbar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  padding: 8px 8px 8px 32px;
}

.navbar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  color: #f1f1f1;
}

.active {
  color: #f1f1f1;
}

/* Content styles */
.content {
  margin-left: 20%;
  width: 70%;
  padding: 16px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
}
